{% trans_default_domain 'ngbm_admin' %}

<span class="settings-value editable-value js-setting-edit" data-setting-id="{{ condition.id }}" data-setting-type="condition">
    {{ ('layout_resolver.condition.' ~ condition.conditionType.type)|trans }}:

    {% set content_type_names = [] %}

    {% for value in condition.value %}
        {% set content_type_names = content_type_names|merge([ngbm_ez_content_type_name(value)]) %}
    {% endfor %}

    {{ content_type_names|join(', ') }}
</span>

<a href="#" class="remove-setting js-setting-delete" data-setting-id="{{ condition.id }}" data-setting-type="condition">
    <i class="material-icons">clear</i>
</a>
