{% extends '@nglayouts_admin/app/block/block.html.twig' %}

{% import '@NetgenLayoutsAdmin/app/parts/macros.html.twig' as macros %}

{% trans_default_domain 'nglayouts_app' %}

{% block content %}
    {% if not block.parameter('content').empty %}
        <div class="list-row">
            <div class="list-item">
                {{ render(
                    controller(
                        'ez_content:viewAction', {
                            'contentId': block.parameter('content').value,
                            'viewType': 'nglayouts_app_preview',
                            'layout': false,
                            'params': {
                                'block': block,
                            }
                        }
                    )
                ) }}
            </div>
        </div>
    {% else %}
        {{ macros.notice('block.notice.empty_ezcomponent'|trans) }}
    {% endif %}
{% endblock %}
