includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    treatPhpDocTypesAsCertain: false
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID

    ignoreErrors:
        - '#Symfony\\Component\\Security\\Core\\Role\\Role#'

        - '#Call to an undefined method Netgen\\Layouts\\Ez\\Security\\Role\\RoleHierarchy::getReachableRoles\(\).#'

        # Disable errors about missing value types in PHPUnit data providers

        - '#Method .+Test(Base)?::\w+DataProvider\(\) return type has no value type specified in iterable type array.#'

        # Disable errors for various tests that verify arrays not having certain elements
        - '#Call to static method PHPUnit\\Framework\\Assert::assertArrayHasKey\(\)#'
