includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        # Doctrine DBAL
        - '#Cannot call method fetchAllAssociative\(\) on Doctrine\\DBAL\\ForwardCompatibility\\Result\|int#'
        - '#expects string\|null, Doctrine\\DBAL\\Query\\Expression\\CompositeExpression given#'

        # Ibexa CMS
        - "#Casting to (int|string) something that's already (int|string).#"
