includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # eZ Platform
        -
            message: '#should be contravariant with parameter \$object#'
            path: lib/Item/ValueUrlGenerator/

        -
            message: '#should be contravariant with parameter \$object#'
            path: lib/Item/ValueConverter/

        -
            message: '#Call to function is_string\(\) with string will always evaluate to true.#'
            path: lib/Security/Authorization/Voter/RepositoryAccessVoter.php

        -
            message: '#Call to function is_array\(\) with array will always evaluate to true.#'
            path: lib/Validator/

        -
            message: '#Return type \(void\) of method Netgen\\Bundle\\LayoutsEzPlatformBundle\\Security\\PolicyProvider::addPolicies\(\) should be compatible#'
            path: bundle/Security/PolicyProvider.php

        -
            message: '#Toflar\\Psr6HttpCacheStore\\Psr6StoreInterface#'
            path: lib/HttpCache/LocalClient.php
