includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        - '#Symfony\\Component\\Security\\Core\\Role\\Role#'

        - '#Call to an undefined method Netgen\\Layouts\\Ez\\Security\\Role\\RoleHierarchy::getReachableRoles\(\).#'

        # Disable errors about missing value types in PHPUnit data providers
        - '#Method .+Test(Base)?::\w+DataProvider\(\) return type has no value type specified in iterable type iterable.#'

        # Disable errors for various tests that verify the instance of the value
        - '#Call to static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\)#'

        # Symfony

        - '#with generic interface Symfony\\Component\\Form\\\w+ does not specify its types: TData#'
