{% set content_name = ngbm_ezcontent_name(target.value) %}

<span class="settings-value">{{ content_name != null ? content_name : '(INVALID CONTENT)' }}</span>

<a href="#" class="remove-setting js-setting-delete" data-setting-id="{{ target.id }}" data-setting-type="target">
    <i class="material-icons">clear</i>
</a>
