{% set path = ngbm_ezlocation_path(target.value) %}

<span class="settings-value">{{ path != null ? path|join(' / ') : '(INVALID LOCATION)' }}</span>

<a href="#" class="remove-setting js-target-delete" data-target-id="{{ target.id }}">
    <i class="material-icons">clear</i>
</a>
