{# Form theme for "content" parameter from "ezcomponent" block definition #}
{%- block _full_edit_parameters_ezcomponent_content_widget -%}
    {% set custom_params = custom_params|merge({
        allowed_content_types: [form.parent['content_type_identifier'].vars.value]
    }) %}

    {% set post_input_browse %}
        {% if form.vars.item is not empty %}
            <a class="btn btn-link-white" href="{{ path(form.vars.item.location) }}" target="_blank">Edit</a>
        {% endif %}
    {% endset %}

    {{ block('ngcb_widget') }}
{%- endblock -%}
