{% if content.fields.image is defined and not ez_is_field_empty(content, 'image') %}
    {% set image_alias = ez_image_alias(ez_field(content, 'image'), content.versionInfo, 'ngbm_app_preview') %}

    {% if image_alias %}
        <div class="image">
            <img src="{{ asset(image_alias.uri) }}" />
        </div>
    {% endif %}
{% endif %}

<div class="name">
    <p><a href="{{ ngbm_item_path(ngbm_item) }}" target="_blank" rel="noopener noreferrer">{{ ez_content_name(content) }}</a></p>
</div>
