{% trans_default_domain 'ngbm_admin' %}

<span class="settings-value editable-value">
    {{ ('layout_resolver.condition.' ~ condition.type)|trans }}:

    {{ condition.value|join(', ') }}
</span>

<a href="#" class="remove-setting"><i class="material-icons">clear</i></a>
