$bgColor: hsl(255, 255, 255);
$lightBg: #f5f5f5;
$silver: #c5c5c5;
$tundora: #404040;
$pomegranate: #f15a10;
$tiaMaria: #c3480b;
$tiaMariaAlt: #cf4c0c;
$rockSpray: #b7430b;
$gutter: 15px;

$asideWidth: 100px;
$asideBg: #383838;
$asideHover: lighten($asideBg, 4%);
$asideDarkBg: darken($asideBg, 8%);
$asideColor: #fff;
$thBg: #a7a7a7;
$baseFont: 'Roboto',Helvetica,Arial,sans-serif;
$fontSize: 14px;
$activeColor: #F97B62;
$leftColumnWidth: 240px;
$leftColumnWidthSm: 160px;
$headerHeight: 70px;
$darkBg: #272A2F;
$layoutsAdminBgColor: hsl(0, 0, 96);
$textColor: hsl(0, 0, 25);
$panelBg: hsl(0, 0, 100);
$panelLightColor: hsl(218, 19, 75);
$linkColor: #2970ef;
$highlightColor: #e22303;
$panelFontSize: 13px;
$btnHeight: 36px;
$inputHeight: 32px;

$btnPrimary: #2970EF;
$btnBorder: #e4e4e4;

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

%material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon-group-disabled:before {
    content: url('assets/icon-group-disabled.svg');
    display: inline-flex;
}
.icon-group-disabled-open:before {
    content: url('assets/icon-group-open-disabled.svg');
    display: inline-flex;
}
.icon-group-open:before {
    content: url('assets/icon-group-open.svg');
    display: inline-flex;
}
.icon-group:before {
    content: url('assets/icon-group.svg');
    display: inline-flex;
}

.loading-ng-icon {
    display:inline-block;
    position:relative;
    font-size:1em;
    width:1.375em;
    height:2.375em;
    margin:0em 1.5em -0.3em;
    transform:rotate(-48deg);
    animation:loadRotate 1.5s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
    &::before,
    &::after {
      content:"";
      display:block;
      background:currentColor;
      border-radius:50%;
      position:absolute;
      left:50%;
    }
    &::before {
      width:1em;
      height:1em;
      margin-left:-0.5em;
      bottom:1.375em;
      animation:loadBounceTopSquash 0.75s alternate infinite ease, loadBounceTopFlow 0.75s alternate infinite ease;
    }
    &::after {
      width:1.375em;
      height:1.375em;
      margin-left:-0.6875em;
      bottom:0;
      animation:loadBounceBottomSquash 0.75s alternate infinite ease, loadBounceBottomFlow 0.75s alternate infinite ease;
    }
}

@keyframes loadBounceTopSquash {
    0% {
        height:0.375em;
        border-radius:3.75em 3.75em 1.25em 1.25em;
        transform:scaleX(2);
    }
    15% {
        height:1em;
        border-radius:50%;
        transform:scaleX(1);
    }
    100% {
        height:1em;
        border-radius:50%;
        transform:scaleX(1);
    }
}

@keyframes loadBounceBottomSquash {
    0% {
        height:1em;
        border-radius:1.25em 1.25em 3.75em 3.75em;
        transform:scaleX(1.5);
    }
    15% {
        height:1.375em;
        border-radius:50%;
        transform:scaleX(1);
    }
    100% {
        height:1.375em;
        border-radius:50%;
        transform:scaleX(1);
    }
}

@keyframes loadBounceTopFlow {
    0% {
        bottom:1.125em;
    }
    50% {
        bottom:2.25em;
        animation-timing-function:cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }
    90% {
        bottom:1.75em;
    }
    100% {
        bottom:1.75em;
    }
}

@keyframes loadBounceBottomFlow {
    0% {
        bottom:0.1875em;
    }
    50% {
        bottom:-0.9375em;
        animation-timing-function:cubic-bezier(0.55, 0.06, 0.68, 0.19);
    }
    90% {
        bottom:0em;
    }
    100% {
        bottom:0em;
    }
}

@keyframes loadRotate {
    0% {
        transform:rotate(-228deg);
    }
    49% {
        transform:rotate(-48deg);
    }
    51% {
        transform:rotate(-48deg);
    }
    92% {
        transform:rotate(132deg);
    }
    100% {
        transform:rotate(132deg);
    }
}
  