<div class="mapped-layouts-box" data-url="{{ path('nglayouts_ibexa_admin_location_layouts', { locationId: location.id }) }}">
    <div class="layouts-box-content"></div>
    <div class="layout-loading"><i class="loading-ng-icon"></i></div>
</div>
