{% extends '@NetgenLayoutsAdmin/app/block/block.html.twig' %}

{% block content %}
    <p>
        Block view: {{ block.viewType }}

        {% if not block.parameter('content').empty %}
            Content ID: {{ block.parameter('content').value }}
        {% endif %}
    </p>

    {% if not block.parameter('content').empty %}
        {{ render(
            controller(
                'ez_content:viewAction', {
                    'contentId': block.parameter('content').value,
                    'viewType': 'nglayouts_app_preview',
                    'layout': false
                }
            )
        ) }}
    {% endif %}
{% endblock %}
